.app {
  text-align: center;
}
.header {
  background-color: darkblue;
  padding: 2rem;
  color: white;
  margin: 20px;
}
.card {
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 100px;
  display: inline;
  text-align: center;
}
